body {
    font-family: 'Noto Sans', sans-serif;
    padding: 40px 0 ;
    background : white ;
    
}

h2{

    color : #333;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Noto Sans' , sans-serif;
    font-weight: bold;
    position: relative;
    margin: 30px 0 60px;
     
}

h2::after {

    content : " " ;
    width: 140px;
    position : absolute ;
    margin: 0 auto;
    height: 3px;
    background-color: #db584e;
    left : 0 ;
    right: 0;
    bottom : -10px;
    opacity : 0.8
}

.col-center {
    
    margin: 0 auto;
    float: none!important;

}

.carousel {
    margin : 0px auto;
    padding: 0 70px;
    box-shadow: 5px 10px 8px #888888;
    
}

.carousel-item {

    color:  #999;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 290px;
   
    
}
.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
    border-radius: 50%;
    box-shadow: 5px 10px 8px #888888;
    transform: translateX(100);
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
    padding: 30px 0 10px;
    color: black;
    font-weight: 600;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #db584e;
}
.carousel .overview span {
	text-transform: uppercase;
    color: black;
    font-weight: bolder;
}
.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}

.carousel .carousel-indicators {
	bottom: -40px;
}

.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}