@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  box-sizing: border-box;
}
.border-1px-black {
  border: 1px solid var(--white);
}
.border-1px-black-2 {
  border: 1px solid var(--white);
}
.border-1px-dove-gray {
  border: 1px solid var(--white);
}
.infobar {
  align-items: flex-start;
  background-color: white;
  display: flex;
  height: 50px;
  max-width: 1500px;
  margin-top: 0px;
  
}
.infobar .overlap-group {
  align-items: flex-start;
  background-color: var(--milano-red);
  display: flex;
  min-width: 1440px;
  padding: 0 95px;
}
.infobar .rectangle- {
  height: 50px;
  /* margin-top: -1px; */
  width: 69px;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  padding-top: 5px;
 
}
.infobar .rectangle-2 {
  text-align: center;
  vertical-align: middle;
  line-height: 50px; 
  height: 50px;
  color: white;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  /* margin-top: -1px; */
  width: 411px;
}
.infobar .rectangle-4 {
    text-align: center;
    vertical-align: middle;
    line-height: 50px; 
    height: 50px;
    color: white;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
  /* margin-top: -1px; */
  width: 227px;
}
.infobar .rectangle-5 {
    text-align: center;
    vertical-align: middle;
    line-height: 50px; 
    height: 50px;
    color: white;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    width: 230px;
}
:root {
    --white: white ;
  --black: rgba(2, 0, 0, 1);
  --black-2: rgba(8, 0, 0, 1);
  --dove-gray: rgba(112, 112, 112, 1);
  --milano-red: rgb(237, 56, 51 );
}
@media screen and (max-width: 960px) {
  .infobar {
   display: none;
  }
}