@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,800&display=swap');

.super-container{

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #4E8E74;
}

.child-container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1180px;
    height: 600px;
    background: #ded9ca;
    margin: 20px;

}
@media screen and (min-width:1200) {
    .child-container {
        width: 1300px;
    }
}
.child-container .imgBx {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background: #811900;
    transition: .3s linear;
    
}

.child-container .imgBx:before {

        content: 'EZE-CHECK';
        position: absolute;
        top: 0px;
        color : #000;
        opacity: 0.2;
        font-size: 5em;
        font-weight: 800;
        /* left : 40px; */
        justify-content: center;

}
.child-container .imgBx img {

    position: relative;
    width: 700px;
    transition: .9s linear;
}

.child-container .details{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
}
.child-container .details h2 {

    margin: 0;
    padding: 0;
    font-size: 2.4em;
    line-height: 1em;
    color: #444;
    bottom: 20px;
    
   
}
.unordered-list {
    display: flex;
    position: relative;
    justify-content: center ;
    flex-wrap: wrap;
    margin-bottom: 15px;
    left: 20px;
}
.list-item {
    margin: 15px;
    font-size: 16px;
    color: #811900;
}
.child-container .details h2 span {
    font-size: 0.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
}

.child-container .details p {
    max-width: 85%;
    margin-left: 15%;
    color: #333;
    font-size: 15px;
    margin-bottom: 36px;
    
}

.child-container .details h3 {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    color: #a2a2a2;
    float: left;
}

.product-colors .active::after {

    content: "";
    width: 36px;
    height: 36px;
    border: 2px solid #000;
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    left: -5px;
    top: -5px;

}

/* Responsive */

@media (max-width :1080px) {

    .child-container{
        height: auto;
    }

    .child-container .imgBx {

        padding: 40px;
        box-sizing: border-box;
        width: 100% !important;
        height: auto;
        text-align: center;
        overflow: hidden;
    }
    .unordered-list {
        display: flex;
        position: relative;
        justify-content: center;
        margin-right: 26px;
        
    }
    .button-landing {
        margin-right: 30px;
    }

    .child-container .imgBx img {

            left: initial;
            max-width: 100%;
            transform: rotate(0deg);
    }

    .details {
        width : 100%!important;
        height: auto;
        padding: 20px;
    }
    .child-container .details p {
        margin-left: 0;
        max-width: 100%;
    }


}

