.div1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.div2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.h2class {
    display: flex;
    justify-content: center;
    align-items: center;
}